// #item1:hover {
//   #hover-card {
//     display: block;
//     #activetab1 {
//       color: #292d32;
//     }
//     #activesubtab1 {
//       display: block;
//       display: flex;
//       flex-direction: column;
//       gap: 16px;
//     }

//     #activetab2:hover {
//       color: #292d32;
//       #activesubtab2 {
//         display: block;
//       }
//       #activetab1 {
//         color: #a4a4b8;
//       }
//       #activesubtab1 {
//         display: none;
//       }
//     }
//   }
// }

#item1:hover #hover-card {
  display: block;
}

#item1:hover #activetab1 {
  color: #292d32;
}

#item1:hover #activesubtab1 {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#activetab2:hover {
  color: #292d32;
}

#activetab2:hover #activesubtab2 {
  display: block;
}

#activetab2:hover #activetab1 {
  color: #a4a4b8;
}

#activetab2:hover #activesubtab1 {
  display: none;
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  #hero-upperpart {
    width: 90%;
  }
}

/* md */
@media (max-width: 768px) {
  #part2-hero {
    display: none;
  }
  #hover-card {
    display: none;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
  #hero-upperpart {
    width: 95%;
  }
}
