.inActive {
  display: none;
}

.Active {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  right: 48px;
  font-size: 16px;
  color: #292d32;
  font-weight: 400;
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  #hero-upperpart {
    width: 90%;
  }
}

/* md */
@media (max-width: 768px) {
  #part2-hero {
    display: none;
  }
  #hover-card {
    display: none;
  }
  #hover-div,
  #hover-circle {
    display: none;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
  #hero-upperpart {
    width: 95%;
  }
}
