/* xl */

#subscribe-div::before {
  content: "";
  background-image: url("/assets/Group 905271.png");
  position: absolute;
  left: 43%;
  background-size: contain;
  top: 4px;
  height: 110px;
  width: 110px;
}

@media (max-width: 1280px) {
  #subscribe-div::before {
    display: none;
  }
}

/* lg */
@media (max-width: 1024px) {
  #subscribe-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #left-div,
    #right-div {
      width: 85%;
    }

    #left-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
      p {
        text-align: center;
      }
      h3 {
        text-align: center;
      }
    }
  }
}

/* md */
@media (max-width: 768px) {
  #subscribe-div {
    #left-div,
    #right-div {
      width: 100%;
    }
  }
}

/* sm */
@media (max-width: 640px) {
  #subscribe-div {
    #left-div {
      p {
        font-size: 12px;
        font-weight: 400;
      }
      h3 {
        font-size: 24px;
        font-weight: 900;
      }
    }
    #right-div {
      button,
      input {
        font-size: 12px;
        height: 40px;
      }
    }
  }
}

/* xs */
@media (max-width: 475px) {
  #subscribe-div {
    #left-div {
      p {
        font-size: 10px;
      }
      h3 {
        font-size: 18px;
        font-weight: 900;
      }
    }
    #right-div {
      button,
      input {
        font-size: 10px;
        height: 40px;
      }
      input {
        width: 60%;
      }
      button {
        width: 40%;
      }
    }
  }
}
