/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  #dealCard6 {
    display: none;
  }
  #deal-heading {
    span {
      font-size: larger;
    }
  }
}

/* md */
@media (max-width: 768px) {
  #dealCard5 {
    display: none;
  }
  #deal-heading {
    display: flex;
    flex-direction: column;
    span {
      font-size: large;
    }
    sub {
      font-size: small;
    }
  }
  #view-deal-head {
    span {
      font-size: 14px;
    }
  }
}

/* sm */
@media (max-width: 640px) {
  #dealCard4 {
    display: none;
  }
  #deal-heading {
    span {
      font-size: small;
    }
    sub {
      font-size: small;
    }
  }
  #view-deal-head {
    span {
      font-size: 12px;
    }
  }
}

/* xs */
@media (max-width: 475px) {
  #hero-upperpart {
    width: 95%;
  }
}
