/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  #card2 {
    #discountImg {
      height: 38px;
      width: 38px;
    }
    #discountImagePrice {
      top: 9px;
      left: 8px;
      font-size: x-small;
    }
  }
}

/* md */
@media (max-width: 768px) {
  #card2 {
    p {
      font-size: smaller;
    }
    h5 {
      font-size: large;
    }
    #discountImg {
      height: 38px;
      width: 38px;
    }
    #discountImagePrice {
      top: 9px;
      left: 8px;
      font-size: x-small;
    }
  }
}

/* sm */
@media (max-width: 640px) {
  #imageDiv {
    height: 200px;
    width: 200px;
  }
}

/* xs */
@media (max-width: 475px) {
  #imageDiv {
    height: 135px;
    width: 135px;
  }
  #card2 {
    p {
      font-size: x-small;
    }
    h5 {
      font-size: small;
    }
    #discountDiv {
      display: none;
    }
  }
  #starDiv {
    width: 10px;
  }
  #dollar,
  #notPrice {
    font-size: x-small;
  }
  #price {
    font-size: small;
  }
}
