@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #ff7900;
}

#shoppingCartName,
#mainCardTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 575px) {
  #shoppingCartName {
    -webkit-line-clamp: 1;
  }
}

@media only screen and (max-width: 575px) {
  #mainCardTitle {
    -webkit-line-clamp: 1;
  }
}

::-webkit-scrollbar {
  display: none;
}
